In [1]:
from pyspark import SparkConf, SparkContext

In [2]:
conf = SparkConf().setAppName('ishtu').setMaster('local')
sc = SparkContext(conf=conf)

First we ll create an RDD

In [3]:
data = sc.textFile('C:\\Users\\ADMIN11\\Desktop\\csv\\books.csv')

In [4]:
type(data)

pyspark.rdd.RDD

2. spark session and then creating dataframe

We ll also see some basic commanda that we can apply on to a dataframe

In [5]:
import pyspark as ps
spark = ps.sql.SparkSession.builder.getOrCreate()

In [6]:
books_df = spark.read.csv('C:\\Users\\ADMIN11\\Desktop\\csv\\books.csv',
                         header=True,inferSchema=True)

In [7]:
type(books_df)

pyspark.sql.dataframe.DataFrame

In [8]:
len(books_df.columns)

23

Creating a dataframe

In [9]:
ratings_df = spark.read.csv('C:\\Users\\ADMIN11\\Desktop\\csv\\ratings.csv',
                           header=True,inferSchema=True)

In [10]:
type(ratings_df)

pyspark.sql.dataframe.DataFrame

In [11]:
len(ratings_df.columns)

3

In [12]:
ratings_df.columns    #Checking columns of the data

['book_id', 'user_id', 'rating']

In [13]:
books_df.columns[:5]    #chekcing first 5 columns of the dataset

['id', 'book_id', 'best_book_id', 'work_id', 'books_count']

In [14]:
books_df.printSchema()      # gives us the features of every columns 
                            # similar to df.info from pandas

root
 |-- id: integer (nullable = true)
 |-- book_id: integer (nullable = true)
 |-- best_book_id: integer (nullable = true)
 |-- work_id: integer (nullable = true)
 |-- books_count: integer (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: double (nullable = true)
 |-- authors: string (nullable = true)
 |-- original_publication_year: double (nullable = true)
 |-- original_title: string (nullable = true)
 |-- title: string (nullable = true)
 |-- language_code: string (nullable = true)
 |-- average_rating: string (nullable = true)
 |-- ratings_count: string (nullable = true)
 |-- work_ratings_count: string (nullable = true)
 |-- work_text_reviews_count: string (nullable = true)
 |-- ratings_1: double (nullable = true)
 |-- ratings_2: integer (nullable = true)
 |-- ratings_3: integer (nullable = true)
 |-- ratings_4: integer (nullable = true)
 |-- ratings_5: integer (nullable = true)
 |-- image_url: string (nullable = true)
 |-- small_image_url: string (nullable = true)

In [15]:
ratings_df.printSchema()

root
 |-- book_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- rating: integer (nullable = true)

In [16]:
ratings_df.show(5)     #show(num) will give output corresponding to num 
                        #if num is not mentioned it will give 20 rows as output

+-------+-------+------+
|book_id|user_id|rating|
+-------+-------+------+
|      1|    314|     5|
|      1|    439|     3|
|      1|    588|     5|
|      1|   1169|     4|
|      1|   1185|     4|
+-------+-------+------+
only showing top 5 rows

In [17]:
#books_df.show()

In [18]:
ratings_df.head(5)

[Row(book_id=1, user_id=314, rating=5),
 Row(book_id=1, user_id=439, rating=3),
 Row(book_id=1, user_id=588, rating=5),
 Row(book_id=1, user_id=1169, rating=4),
 Row(book_id=1, user_id=1185, rating=4)]

In [19]:
# application of select function sql
ratings_df.select('book_id','rating').show(5)

+-------+------+
|book_id|rating|
+-------+------+
|      1|     5|
|      1|     3|
|      1|     5|
|      1|     4|
|      1|     4|
+-------+------+
only showing top 5 rows

In [20]:
ratings_df.select('rating','user_id').show(3)

+------+-------+
|rating|user_id|
+------+-------+
|     5|    314|
|     3|    439|
|     5|    588|
+------+-------+
only showing top 3 rows

In [21]:
# how to filter using sql
ratings_df.filter('rating=3').show(5)

+-------+-------+------+
|book_id|user_id|rating|
+-------+-------+------+
|      1|    439|     3|
|      1|   5461|     3|
|      1|   7563|     3|
|      1|  20076|     3|
|      1|  20467|     3|
+-------+-------+------+
only showing top 5 rows

In [22]:
# using select and filter together
ratings_df.select('book_id','rating').filter('rating<2').show(5)

+-------+------+
|book_id|rating|
+-------+------+
|      1|     1|
|      1|     1|
|      2|     1|
|      2|     1|
|      2|     1|
+-------+------+
only showing top 5 rows

In [23]:
survey_df = spark.read.csv('C:\\Users\\ADMIN11\\Desktop\\csv\\Social_Network_Ads.csv',
                          header=True,inferSchema=True)

In [24]:
survey_df.show(5)

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15804002|  Male| 19|          76000|        0|
+--------+------+---+---------------+---------+
only showing top 5 rows

In [25]:
survey_df.select('User ID','Gender').filter('Age>25').show(15)

+--------+------+
| User ID|Gender|
+--------+------+
|15810944|  Male|
|15668575|Female|
|15603246|Female|
|15728773|  Male|
|15598044|Female|
|15694829|Female|
|15727311|Female|
|15570769|Female|
|15606274|Female|
|15704987|  Male|
|15697686|  Male|
|15733883|  Male|
|15617482|  Male|
|15704583|  Male|
|15621083|Female|
+--------+------+
only showing top 15 rows

In [26]:
survey_df.count()

400

In [27]:
ratings_df.count()

981756

In [28]:
ratings_df.select('user_id').distinct().count()

53424

In [29]:
ratings_df.drop_duplicates().count()

980112

In [30]:
# similar to df.describe in pandas
ratings_df.describe().show()

+-------+-----------------+------------------+------------------+
|summary|          book_id|           user_id|            rating|
+-------+-----------------+------------------+------------------+
|  count|           981756|            981756|            981756|
|   mean|4943.275635697668|25616.759933221696|3.8565335989797873|
| stddev|2873.207414896197| 15228.33882588251|0.9839408559620116|
|    min|                1|                 1|                 1|
|    max|            10000|             53424|                 5|
+-------+-----------------+------------------+------------------+

In [31]:
ratings_df.dropna().show(5)

+-------+-------+------+
|book_id|user_id|rating|
+-------+-------+------+
|      1|    314|     5|
|      1|    439|     3|
|      1|    588|     5|
|      1|   1169|     4|
|      1|   1185|     4|
+-------+-------+------+
only showing top 5 rows

next we ll move to groupby and aggregate functions

In [32]:
ratings_df.groupby('rating').count().show()

+------+------+
|rating| count|
+------+------+
|     1| 19575|
|     3|248623|
|     5|292961|
|     4|357366|
|     2| 63231|
+------+------+

In [33]:
survey_df.groupby('Age').count().show(5)

+---+-----+
|Age|count|
+---+-----+
| 31|   11|
| 53|    5|
| 34|    6|
| 28|   12|
| 26|   16|
+---+-----+
only showing top 5 rows

In [34]:
survey_df.groupby('Purchased').count().show()

+---------+-----+
|Purchased|count|
+---------+-----+
|        1|  143|
|        0|  257|
+---------+-----+

In [35]:
survey_df.groupby('Gender','Age').count().toPandas()

    Gender  Age  count
0   Female   47      8
1   Female   20      4
2   Female   35     13
3   Female   37     10
4   Female   27      8
..     ...  ...    ...
78  Female   18      3
79  Female   36      5
80    Male   40     11
81    Male   34      3
82  Female   53      4

[83 rows x 3 columns]

In [36]:
survey_df.show(5)

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
|15668575|Female| 26|          43000|        0|
|15603246|Female| 27|          57000|        0|
|15804002|  Male| 19|          76000|        0|
+--------+------+---+---------------+---------+
only showing top 5 rows

In [37]:
survey_df.groupby('Gender','EstimatedSalary').min().toPandas()

,Gender,EstimatedSalary,min(User ID),min(Age),min(EstimatedSalary),min(Purchased)
0,Female,82000,15611191,20,82000,0
1,Male,51000,15693264,38,51000,0
2,Female,65000,15717560,35,65000,0
3,Male,63000,15578006,23,63000,0
4,Female,107000,15639576,47,107000,1
...,...,...,...,...,...,...
187,Female,96000,15666675,27,96000,0
188,Female,23000,15595228,20,23000,0
189,Female,87000,15667265,28,87000,0
190,Female,63000,15577178,22,63000,0
191,Female,138000,15761950,48,138000,1

In [38]:
survey_df.agg({'Age':'max'}).toPandas()

   max(Age)
0        60

In [39]:
survey_df.agg({'Age':'count'}).toPandas()

   count(Age)
0         400

In [40]:
ratings_df.agg({'rating':'max'}).show()

+-----------+
|max(rating)|
+-----------+
|          5|
+-----------+

The most needful part of sql is merging data, next we ll see how to do that
1. join function would be applied 
2. remember we need one common feature in 2 datasets in order to merge them

In [41]:
rating_book_df = ratings_df.join(books_df,books_df.book_id == ratings_df.book_id)

Code flow/logic:
1. df.join(df2, condition of joining)

In [42]:
rating_book_df.select('user_id','rating','title').show(5)

+-------+------+--------------------+
|user_id|rating|               title|
+-------+------+--------------------+
|    314|     5|Harry Potter and ...|
|    439|     3|Harry Potter and ...|
|    588|     5|Harry Potter and ...|
|   1169|     4|Harry Potter and ...|
|   1185|     4|Harry Potter and ...|
+-------+------+--------------------+
only showing top 5 rows

If we want to change the value of a particular column

In [43]:
ratings_df.withColumn('rating',ratings_df.rating*2).show(4)

+-------+-------+------+
|book_id|user_id|rating|
+-------+-------+------+
|      1|    314|    10|
|      1|    439|     6|
|      1|    588|    10|
|      1|   1169|     8|
+-------+-------+------+
only showing top 4 rows

In [44]:
survey_df.withColumn('Gender',survey_df.Gender*'M').show(5)
## check how to change string values ie column with string values

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  null| 19|          19000|        0|
|15810944|  null| 35|          20000|        0|
|15668575|  null| 26|          43000|        0|
|15603246|  null| 27|          57000|        0|
|15804002|  null| 19|          76000|        0|
+--------+------+---+---------------+---------+
only showing top 5 rows

In [45]:
survey_df.show(2)

+--------+------+---+---------------+---------+
| User ID|Gender|Age|EstimatedSalary|Purchased|
+--------+------+---+---------------+---------+
|15624510|  Male| 19|          19000|        0|
|15810944|  Male| 35|          20000|        0|
+--------+------+---+---------------+---------+
only showing top 2 rows